service: answerly-admin
useDotenv: true

provider:
  name: aws
  runtime: nodejs22.x
  httpApi:
    cors: true

functions:
  api:
    handler: src/index.handler
    timeout: 15
    memorySize: 1024
    environment:
      GOOGLE_CLIENT_ID: ${env:GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${env:GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: ${env:GOOGLE_REDIRECT_URI}
      GOOGLE_ACCESS_TOKEN: ${env:GOOGLE_ACCESS_TOKEN}
      GOOGLE_REFRESH_TOKEN: ${env:GOOGLE_REFRESH_TOKEN}
      GOOGLE_CALENDAR_ID: ${env:GOOGLE_CALENDAR_ID}
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
      - httpApi:
          path: /
          method: ANY

plugins:
  - serverless-plugin-typescript
  - serverless-offline
